/*Reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

/*General*/
body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  min-height: 90vh;
}

h1 {
  color: hsl(167, 36%, 25%);
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h2 {
  color: hsl(164, 7%, 30%);
  text-align: center;
  font-size: 2.4rem;
  font-style: oblique;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
}

/*Header - Logo */

.logo {
  width: 15rem;
  height: auto;
  border-radius: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Cotizador*/

.cotizador {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(63, 68, 68, 0.068);
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

.cotizador__title {
  margin-left: 0rem;
}

.cotizador__text {
  line-height: 2.5rem;
  text-align: center;
}

.cotizador__img {
  margin-top: 1rem;
  margin-bottom: 0rem;
  max-width: 60vw;
}
